body,
#root,
.page-wrapper {
  height: 100%;
  background-color: #040d14;
  color: white;
}

._webpageLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}

._search-bar-container {
  width: 70%;
  margin: 40px auto 0;
  background-color: white;
  border-radius: 10px;
}
._toggleButton {
  margin: 20px auto 0;
}

._search-input-container {
  position: relative;
}

._search-input,
._search-input:focus,
._search-input:active {
  width: 70%;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  background-color: white;
  outline: none;
  border: 0;
}

.MuiFormControlLabel-label {
  color: "white";
}

._autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid lightblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
  color: black;
}

._clear-button,
._clear-button:active,
._clear-button:focus {
  position: absolute;
  height: 50%;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

._suggestion-item {
  padding: 8px;
  cursor: pointer;
}

._suggestion-item--active {
  background-color: lightblue;
}

._dropdown-footer {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border-radius: 10px;
}

._dropdown-footer-image {
  display: inline-block;
  width: 150px;
}

._error-message {
  color: red;
}

@media (max-width: 480px) {
  .autocomplete-container {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .alert {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    -webkit-animation: fadein 0.75s;
    -moz-animation: fadein 0.75s;
    -ms-animation: fadein 0.75s;
    -o-animation: fadein 0.75s;
    animation: fadein 0.75s;
  }

  .btn {
    margin-top: 1.5rem;
  }

  .form-group {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 50%;
  }
}
